.footer{
    background: $pink;
  
    .box-container{
      @include grid(25rem);
  
      .box{
  
        h3{
          font-size: 2.2rem;
          padding: 1rem 0;
        }
  
        a{
          font-size: 2rem;
          color: $black;
          display: block;
          padding: 1rem 0;
  
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  
    .credit{
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
      font-size: 2rem;
    }
  }